/* Base styles */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    background-color: #f5f5f5;
    color: #3a3a3a;
}

p {
    font-family: 'Roboto', sans-serif;
    color: #3a3a3a;   
}

img {
    max-width: 100%;
    margin-top: 2em;
    
}


header {
    margin-bottom: 3em;
    padding-bottom: 3em;
    background-color: crimson;
    margin-top: 0;
}


ul {
  margin: 0;
  padding: 0;
}


ul {
    list-style-type: none;
}



a {
    color: whitesmoke;
    text-decoration: none;
}

/* Base layout styles */

/* Navigation */


.logo,
.main-nav {
    font-weight: bold;
    display: block;
}


.logo {
    
    margin-top: 0;
    padding-top: .70em;
}


.main-nav a {
    font-size: .85em;
    display: block;
    color: crimson;
    background-color: whitesmoke;
    padding: 8px;
    margin-bottom: 8px;
    text-transform: uppercase;
}



.main-nav a:hover {
    
    font-size: 1em;
}

.profile-img
{
    max-width: 60%;
    margin-bottom: 1.5em;
}

.paragraph {
    color:  whitesmoke;
    
}

/* ========== CONTAINERS ==========  */

.container {
	padding-left: .90em;
    padding-right: .90em;
    margin: 0 auto;
    text-align: center;
    }

 
.contact {
    text-align: center;
    background-color: #d8d8d8;
    padding: 30px;
    margin-top: 2em;
    Border-bottom: rgb(172, 172, 172) solid 2px;
}

/* ========== FOOTER ==========  */



.logo-bottom {
    float: left;
    color: #3a3a3a;
    font-weight: bold;
    font-size: .80em;
    margin-top: 0;
    
}


.backtop {
    float: right;
    color: #3a3a3a;
    font-weight: bold;
    font-size: .80em;
    
    
}


.clearfix::after {
		content: "";
		display: table;
		clear: both;
	}

/* ========== Media queries  ==========  */

@media (min-width: 769px) {
    .main-nav li {
     display: inline-block;
     margin-left: 0px;

    }

    .main-nav a {
        color: whitesmoke;
        background-color: crimson;
        margin-left: 10px;
        padding: 10px 15px;
        margin: 0;
    }

      .container {
        width: 96%;
        
    
    }


 
    .paragraph {
        float: left;
        width: 55%;
        margin-top: 60px;
        text-align: left;
        font-size: 1.1em;

    }

    .profile-img {
        float: right;
        width: 40%;
        margin-top: 60px;
        

    }


    .col {
    float:left;
    }

    .first,
    .second,
    .third,
    .fourth,
    .fifth,
    .sixth {
    width: 50%
    
    }

    img {
    max-width: 96%;

    
    
}

    .clearfix::after {
		content: "";
		display: table;
		clear: both;
	}



}


@media (min-width: 1025px) {

   

    .nav .logo {
      float: left;
    }
    .main-nav{
        float: right;
        padding-top: 1.5em;
        
    }
     
    .paragraph {
        width: 50%;
    }


    .container {
        width: 96%;
        max-width: 1150px;
        
        
    }

    .first,
    .second,
    .third,
    .fourth,
    .fifth,
    .sixth {
    width: 33.3%
    
    
    }


  .clearfix::after {
		content: "";
		display: table;
		clear: both;
	}



}










